<style>
    .login-box, .register-box {
        width: 80%;
        margin: 4% auto;
    }
</style>
<div class="box" id="log-widget">
    <div class="box-header with-border">
        <h3 class="box-title"Your account</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        {{ form_ajax('onUpdate', { model: user }) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="accountName">Full Name</label>
                    <input name="name" type="text" class="form-control" id="accountName"
                           value="{{ form_value('name') }}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="accountEmail">Email</label>
                    <input name="email" type="email" class="form-control" id="accountEmail"
                           value="{{ form_value('email') }}">
                </div>
            </div>
            <div class="col-sm-12 text-center">
                    Your modules (click to toggle)
                <br /><br />
                {% if user.monitorprofile.enable_mailer %}
                    <a class="btn btn-success" href="#" data-request="km_helper::onDisableMailing">E-mail Alerts</a><br />
                    <small>ENABLED</small>
                {% else %}
                    <a class="btn btn-danger" href="#"
                       data-request="km_helper::onEnableMailing">E-mail Alerts</a><br /><small>DISABLED</small>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="accountPassword">New Password</label>
                    <input name="password" type="password" class="form-control" id="accountPassword">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="accountPasswordConfirm">Confirm New Password</label>
                    <input name="password_confirmation" type="password" class="form-control"
                           id="accountPasswordConfirm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default">Save</button>
                <a href="/" class="pull-right btn btn-primary">Go back</a>
            </div>
        </div>
        {{ form_close() }}
    </div>
</div>
