==
<header class="main-header">
    <!-- Logo -->
    <a href="https://keios.eu" target="_blank" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>K</b>M</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Keios</b>Monitor</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <li>

                    <img src="/plugins/keios/monitor/assets/img/loading_blue.gif" style="display: none;"
                         class="loading-image"/>

                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ 'assets/images/favico.png'|theme }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ user.name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ 'assets/images/favico.png'|theme }}" class="img-circle" alt="User Image">

                            <p>
                                {{ user.name }}
                                <small>Member since {{ user.created_at }}</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/account" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a data-request="onLogout" class="btn btn-default btn-flat"
                                   data-request-data="redirect: '/'">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>