<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ 'assets/images/favico.png'|theme }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ user.name }}</p>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li {% if this.page.url == "/" %}class="active"{% endif %}>
                <a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li {% if this.page.url == "/manage" %}class="active"{% endif %}>
                <a href="/manage"><i class="fa fa-gears"></i> <span>Manage Services</span></a>
            </li>
            <li {% if this.page.url == "/auth-data" %}class="active"{% endif %}>
                <a href="/auth-data"><i class="fa fa-lock"></i> <span>Authorization</span></a>
            </li>
            <li {% if this.page.url == "/logs" %}class="active"{% endif %}>
                <a href="/logs"><i class="fa fa-history"></i> <span>Logs</span></a>
            </li>
            <li class="header">TOOLS</li>
            <li>
                <a title="We collect status of services every few minutes automatically. If you want to force check now, press this button and wait for results." href="#" data-request="km_helper::onIssueRefresh"><i class="fa fa-refresh"></i> <span>Issue status refresh</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>