<!-- Default box -->
<div class="box" id="log-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Latest logs</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class=" container-fluid">
            <div class="row">
                <form id="logFilters">
                    <div class="col-sm-4">
                        <label for="from">From</label><br/>
                        <input class="form-control" id="from" type="date" name="from"
                               value="{{ filters.from.format('Y-m-d') }}"/>
                    </div>
                    <div class="col-sm-4">
                        <label for="to">To</label><br/>
                        <input class="form-control" id="to" type="date" name="to"
                               value="{{ filters.to.format('Y-m-d') }}"/>
                    </div>
                    <div class="col-sm-3">
                        <label for="type">Type</label><br/>
                        <select class="form-control" name="type" id="type">
                            {% if filters.type == 'all' %}
                                <option value="all">All</option>
                                <option value="server">Server</option>
                                <option value="process">Process</option>
                                <option value="website">Website</option>
                            {% endif %}
                            {% if filters.type == 'server' %}
                                <option value="server">Server</option>
                                <option value="all">All</option>
                                <option value="process">Process</option>
                                <option value="website">Website</option>
                            {% endif %}
                            {% if filters.type == 'process' %}
                                <option value="process">Process</option>
                                <option value="all">All</option>
                                <option value="server">Server</option>
                                <option value="website">Website</option>
                            {% endif %}
                            {% if filters.type == 'website' %}
                                <option value="website">Website</option>
                                <option value="all">All</option>
                                <option value="server">Server</option>
                                <option value="process">Process</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <br/>
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </div>

                </form>
            </div>
            <hr>
            {% if logs %}
            {% for log in logs %}
                <small>{{ log.date }}</small>
                <pre>
{{ log.message }}
</pre>
            {% endfor %}
            <!-- ============================================= -->
            <!-- PAGINATION START -->
            <hr>
            {% set from_date = filters.from.format('Y-m-d') %}
            {% set to_date = filters.to.format('Y-m-d') %}
            <div class="pagination" style="margin: 0 auto; text-align: center; width: 100%">
                {% if log_current_page == 1 %}
                    <a href="#" class="btn btn-disabled" disabled>BACK</a>
                    {% if log_current_page == log_total_pages %}
                        <a href="#" class="btn btn-disabled" disabled>NEXT</a>
                    {% else %}

                        <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page }}"
                           class="btn btn-default active">{{ log_current_page }}</a>

                        {% if log_total_pages > log_current_page %}
                            <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page+1 }}"
                               class="btn btn-default">{{ log_current_page+1 }}</a>
                        {% endif %}

                        {% if log_total_pages > log_current_page+1 %}
                            <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page+2 }}"
                               class="btn btn-default">{{ log_current_page+2 }}</a>
                        {% endif %}
                        {% if log_total_pages > 3 %}
                            <a href="#" class="btn btn-info">...</a>

                            <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_total_pages }}"
                               class="btn btn-default">{{ log_total_pages }}</a>
                        {% endif %}
                        <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page=2"
                           class="btn btn-info">NEXT</a>

                    {% endif %}

                {% else %}

                    <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page-1 }}"
                       class="btn btn-info">BACK</a>

                    {% if log_current_page > 2 %}
                        <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page=1"
                           class="btn btn-default">1</a>
                        {% if log_current_page > 3 %}
                            <a href="#" class="btn btn-default">...</a>
                        {% endif %}
                    {% endif %}

                    <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page-1 }}"
                       class="btn btn-default">{{ log_current_page-1 }}</a>

                    <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page }}"
                       class="btn btn-default active">{{ log_current_page }}</a>

                    {% if log_current_page == log_total_pages %}
                        <a href="#" class="btn btn-disabled" disabled>NEXT</a>
                    {% else %}

                        <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page+1 }}"
                           class="btn btn-default">{{ log_current_page+1 }}</a>

                        {% if log_total_pages > log_current_page+2 %}
                            <a href="#" class="btn btn-default">...</a>
                        {% endif %}

                        {% if log_total_pages > log_current_page+1 %}
                            <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_total_pages }}"
                               class="btn btn-default">{{ log_total_pages }}</a>
                        {% endif %}

                        <a href="/logs?from={{ from_date }}&to={{ to_date }}&type={{ filters.type }}&name={{ filters.name }}&page={{ log_current_page+1 }}"
                           class="btn btn-info">NEXT</a>
                    {% endif %}
                {% endif %}
            </div>


            <!--=========================================== -->
        </div>
        {% else %}
            <br/>
            <div class="text-center">NO LOGGED EVENTS</div>
            <br/>
        {% endif %}
    </div>
</div>