<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Current Status</h3>
        <br />
        <small>Services are currently probed automatically every 2 minutes.</small>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        {% if enable_servers %}
            <div class="col-lg-4" id="servers">
                {% partial "km_livemonitor::servers" %}
            </div>
        {% endif %}
        {% if enable_websites %}
            <div class="col-lg-4" id="websites">
                {% partial "km_livemonitor::websites" %}
            </div>
        {% endif %}
        {% if enable_processes %}
            <div class="col-lg-4" id="processes">
                {% partial "km_livemonitor::processes" %}
            </div>
        {% endif %}
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer-->
</div>