.text-center {
    text-align: center;
}

.row-success {
    background-color: rgba(0, 160, 0, 0.3);
}

.row-danger {
    background-color: rgba(255, 0, 0, 0.29);
}

.login-box {
    background-color: #FFF;
    padding: 20px;
}

.white-container {
    background-color: #FFF;
    padding: 25px;
    margin-bottom: 15px;
box-shadow: rgba(51, 51, 51, 0.48) 2px 2px 2px;
}

.btn-service {
    width: 100%;
    margin-bottom: 10px;
}

.btn-remove {
    display: inline;
    float: right;
}

.loading-image {
    width: 30px;
    margin-top: 8px;
}

.btn-stat:hover {
    background-color: #3c8dbc;
    border-color: #367fa9;
    cursor: auto;
}

.box-footer .btn-danger:hover {
    background-color: #dd4b39;
    border-color: #d73925;
    cursor: auto;
}

.box-footer .btn-primary:hover {
    background-color: #3c8dbc;
    border-color: #367fa9;
    cursor: auto;
}

.box-footer .btn-success:hover {
    background-color: #00a65a;
    border-color: #008d4c;
    cursor: auto;
}

.box-footer .btn-warning:hover {
    background-color: #f39c12;
    border-color: #e08e0b;
    cursor: auto;
}