[session]
security = "user"
redirect = "login"

[km_helper]
redirect = "login"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }} | Keios Monitor</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Keios Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favico.png'|theme }}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/tether.min.css'|theme }}"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ 'assets/css/AdminLTE.min.css'|theme }}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ 'assets/css/skins/_all-skins.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/theme.css'|theme }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue  sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">

    {% partial "header" %}

    {% partial "sidebar" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ this.page.title }}
                <small>{{ this.page.description }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{{ this.page.title }}</li>
            </ol>
        </section>
        {% page %}
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.1.1
        </div>
        <strong>Copyright &copy; 2013-2016 <a href="https://keios.eu">Keios Solutions</a>.</strong> Free to use.
    </footer>

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="{{ 'assets/javascript/jquery-3.1.1.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/tether.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/notification.js'|theme }}"></script>
<script src="{{ 'assets/plugins/slimScroll/jquery.slimscroll.min.js'|theme }}"></script>
<!-- FastClick -->
<script src="{{ 'assets/plugins/fastclick/fastclick.js'|theme }}"></script>
<!-- AdminLTE App -->
<script src="{{ 'assets/javascript//app.min.js'|theme }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ 'assets/javascript//demo.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
{% component 'apparatusFlashMessages' %}
</body>
</html>