[session]
security = "all"
redirect = "home"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }} | Keios Monitor</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Keios Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favico.png'|theme }}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/tether.min.css'|theme }}"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ 'assets/css/AdminLTE.min.css'|theme }}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ 'assets/css/skins/_all-skins.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/theme.css'|theme }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
{% page %}

<script src="{{ 'assets/javascript/jquery-3.1.1.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/tether.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/notification.js'|theme }}"></script>
<script src="{{ 'assets/plugins/slimScroll/jquery.slimscroll.min.js'|theme }}"></script>
<!-- FastClick -->
<script src="{{ 'assets/plugins/fastclick/fastclick.js'|theme }}"></script>
<!-- AdminLTE App -->
<script src="{{ 'assets/javascript//app.min.js'|theme }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ 'assets/javascript//demo.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>