title = "Account"
url = "/account"
layout = "default"
is_hidden = 0

[account]
redirect = "account"
paramCode = "code"
==


<section class="content">
    <div class="box">
        <div class="col-sm-12">
    {% component 'account' %}
        </div>
    {% if not apparatus_enabled %}
        <br/>
        <div class="text-center">
            Are you owner? Boost your app with <a
                    href="https://github.com/keiosweb/oc-apparatus-lib"><b>Apparatus</b></a>!
        </div>
        <br />
    {% endif %}
    </div>
</section>