title = "Monitor"
url = "/"
layout = "default"
is_hidden = 0

[km_livemonitor]
enable_servers = 1
enable_websites = 1
enable_processes = 1

[km_charts]

[km_logwidget]
==
<!-- Main content -->
<section class="content">
    {% component 'km_charts' %}
</section>
<section class="content">
    {% component 'km_livemonitor' %}
    <!-- /.box -->
</section>
<section class="content">
    {% component "km_logwidget" %}
</section>