title = "Sign in"
url = "/login/:code?"
layout = "unlogged"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
==
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Keios</b>Monitor</a>
    </div>

    {% component 'account' %}

    {% if not apparatus_enabled %}
        <br />
        <div class="text-center">
        Are you owner? Boost your app with <a href="https://github.com/keiosweb/oc-apparatus-lib"><b>Apparatus</b></a>!
        </div>
    {% endif %}
</div>